.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 300px;
  background-color: var(--mantine-color-gray-11);
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.title {
  padding: 16px;
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
